.column {
    background-color: black;
    color: white;
    font-size: 30px;
    border: 1px solid white;

}

footer {
    align-self: flex-end;
    background-color: whitesmoke;
    line-height: 3;
    text-align: center;
    width: 100%;
}